@import "tailwindcss";

@font-face {
  font-family: "libre-regular";
  src: url("/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-custom {
  font-family:
    "libre-regular",
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Segoe UI",
    "Roboto",
    "Helvetica Neue",
    Arial,
    "Segoe UI Emoji",
    "Apple Color Emoji",
    "Segoe UI Symbol";
}
